  <!-- ======= Courses Section ======= -->
  <div class="d-flex justify-content-center">
    <div class="course-item">
            <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>{{ kurs.kategorijaKursa.naziv }}</h4>

                <p class="price">{{ kurs.cijena }}KM</p>
              </div>

              <h3><a href="course-details.html">{{ kurs.naziv }}</a></h3>
              <p>{{ kurs.opis }}</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-rank d-flex align-items-center">
                  &nbsp;&nbsp;
                <a (click)="Prijava(kurs.id)" class="course-btn mr-2">Prijavi se</a>
                <a class="course-btn" (click)="Info()">Info</a>
                </div>
              </div>
            </div>
  </div>
          </div> <!-- End Course Item-->
