<div class="d-flex .align-content-start flex-wrap flex-row">

    <div _ngcontent-hji-c59="" data-aos="fade-up" class="container aos-init aos-animate">
        <div _ngcontent-hji-c59="" class="section-title">
            <p _ngcontent-hji-c59="">Aktivni</p>
        </div>
    </div>
    <div class="row ">
        <div *ngFor="let aktivni of aktivniIspiti; let i = index" class="col-sm-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ aktivniIspiti[i].naslov }}</h5>
                    <p class="card-text"> {{ aktivniIspiti[i].opis | slice:0:50 }}..</p>
                    <a (click)="uredi(aktivni)" data-toggle="modal" data-target="#exampleModal"
                        class="btn btninfo">Detalji</a>
                    <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#staticBackdropDel"
                        (click)="izbrisi(aktivni)">Izbrisi</button>
                </div>
            </div>
        </div>
    </div>

    <div _ngcontent-hji-c59="" data-aos="fade-up" class="container aos-init aos-animate">
        <div _ngcontent-hji-c59="" class="section-title">
            <p _ngcontent-hji-c59="">Neaktivni</p>
        </div>
    </div>
    <div class="row ">
        <div *ngFor="let neaktivni of neaktivniIspiti; let i = index" class="col-sm-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ neaktivniIspiti[i].naslov }}</h5>
                    <p class="card-text">{{ neaktivniIspiti[i].opis | slice:0:50 }}..</p>
                    <a (click)="PrikaziDetalje(neaktivniIspiti[i])" class="btn btninfo">Detalji</a>
                    <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#staticBackdropDel"
                        (click)="izbrisi(neaktivni)">Izbrisi</button>
                </div>
            </div>
        </div>
    </div>
</div>