
<div>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Koliko znaš,<br>toliko vrijediš</h1>
      <h2>Kulturni centar TAM je tu da vam pomogne u izgradnji vaših karijera</h2>
      <a routerLink="/courses" class="btn-get-started">Počnimo</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Informacije</h2>
          <p>O nama</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Nudimo veliki izbor kurseva i mogućnost organizovanja različitih vrsta događaja</h3>
            <p class="font-italic">
              Misija našeg centra je doprinos zajednici nudeći širok diapazon kurseva koji će pomoći pri
              usavršavanju mladih ljudi i izgradnji njihovih karijera.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Kvalitetno i profesionalno osoblje.</li>
              <li><i class="icofont-check-circled"></i> Kursevi za sve uzraste.</li>
              <li><i class="icofont-check-circled"></i> Razne vrste događaja. </li>
            </ul>
            <p>
              Investirajte u svoje znanje, jer znanje je moć
            </p>
            <!-- <a href="about.html" class="learn-more-btn">Learn More</a> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{ statistika.brojPolaznika }}</span>
            <p>Polaznici kurseva</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{ statistika.brojKurseva }}</span>
            <p>Kursevi</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{ statistika.brojDogadjaja }}</span>
            <p>Događaji</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">{{ statistika.brojPredavaca }}</span>
            <p>Predavači</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Zašto izabrati TAM</h3>
              <p>
                Kulturni centar TAM se nalazi u samom centru najljepšeg grada na Neretvi. Pored atraktivne lokacije, pružamo
                najveći izbor kurseva za sve uzraste, te organizujemo najviše događaja u gradu. Ako već niste,
                dođite i posjetite nas. Radujemo se vašem dolasku :)
              </p>
              <!-- <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div> -->
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Priznate diplome</h4>
                    <p>Poslije svakog uspješnp završenog kursa, dobijate vrlo priznatu diplomu</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-home"></i>
                    <h4>Atraktivna lokacija</h4>
                    <p>Smješteni smo u samom centru grada, na trgu Musala broj 1</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-money"></i>
                    <h4>Povrat novca polaznicima</h4>
                    <p>Za 3 najbolja polaznika kursa je osiguran povrat novca</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Kursevi</h2>
          <p>Najnoviji kursevi</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Web Development</h4>
                  <p class="price">$169</p>
                </div>

                <h3><a href="course-details.html">Website Design</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Antonio</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Marketing</h4>
                  <p class="price">$250</p>
                </div>

                <h3><a href="course-details.html">Search Engine Optimization</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <span>Lana</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Content</h4>
                  <p class="price">$180</p>
                </div>

                <h3><a href="course-details.html">Copywriting</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <span>Brandon</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;85
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menadžment</h2>
          <p>Menadžment kulturnog centra</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Aldin Tanović</h4>
                <span>CEO</span>
                <p>
                  Aldin Tanović je CEO firme i jedan od 3 osnivača centra.
                </p>
                <div class="social">
                  <a href="https://bs-ba.facebook.com/aldin.tanovic1"><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/aldin-tanovi%C4%87-842284200/?originalSubdomain=ba"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Miralem Omerika</h4>
                <span>CEO</span>
                <p>
                  Miralem Omerika je CEO firme i jedan od 3 osnivača centra.
                </p>
                <div class="social">
                  <a href="https://www.facebook.com/miralem05"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/miralem05/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/miralem05/?originalSubdomain=ba"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Tarik Čolakhodžić</h4>
                <span>CEO</span>
                <p>
                  Tarik Čolakhodžić je CEO firme i jedan od 3 osnivača centra.
                </p>
                <div class="social">
                  <a href="https://www.facebook.com/tarik.colakhodzic.7/"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/tariq_colakhodzic/"><i class="icofont-instagram"></i></a>
                  <a href="https://ba.linkedin.com/in/tarik-%C4%8Dolakhod%C5%BEi%C4%87-6b6aa61a9"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
