<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a href="index.html">TAM</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li routerLinkActive="active"><a routerLink="/home">Početna</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/about" routerLinkActive="active">About</a></li> -->
        <li routerLinkActive="active"><a routerLink="/courses" routerLinkActive="active">Kursevi</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/course-details" routerLinkActive="active">Course details</a></li> -->
        <!-- <li routerLinkActive="active"><a routerLink="/trainers" routerLinkActive="active">Predavači</a></li> -->
        <li routerLinkActive="active"><a routerLink="/events" routerLinkActive="active">Događaji</a></li>
        <!-- <li routerLinkActive="active"><a routerLink="/event-details" routerLinkActive="active">Event details</a></li> -->
        <li routerLinkActive="active"><a routerLink="/contact">Kontakt</a></li>
        <li routerLinkActive="active">
          <a routerLink="/review">
            Recenzije
            <span class="badge badge-light ml-2">{{ brojAktivnihRecenzija }}</span>
          </a>
        </li>
        <li *ngIf="!isUserAuthenticated" routerLinkActive="active"><a routerLink="/authentication/login">Prijava</a></li>
        <li *ngIf="!isUserAuthenticated" routerLinkActive="active"><a
            routerLink="/authentication/register">Registracija</a></li>
        <li style="cursor: pointer;" *ngIf="isUserAuthenticated" routerLinkActive="active"><a class="btn-get-started"
            (click)="Logout()">Odjava</a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
  <div class="topnav" *ngIf="show">
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a routerLink="/home" (click)="show = !show">Početna</a>
      <!-- <a routerLink="/about" (click)="show = !show">About</a> -->
      <a routerLink="/courses" (click)="show = !show">Kursevi</a>
      <!-- <a routerLink="/course-details" (click)="show = !show">Course Details</a> -->
      <!-- <a routerLink="/trainers" (click)="show = !show">Trainers</a> -->
      <a routerLink="/events" (click)="show = !show">Događaji</a>
      <a routerLink="/review">
        Recenzije
        <span class="badge badge-light ml-2">{{ brojAktivnihRecenzija }}</span>
      </a>
      <a routerLink="/contact" (click)="show = !show">Kontakt</a>
      <!-- <a routerLink="/event-details" (click)="show = !show">Event details</a> -->
      <a *ngIf="!isUserAuthenticated" routerLink="/authentication/login" (click)="show = !show">Prijava</a>
      <a *ngIf="!isUserAuthenticated" routerLink="/authentication/register" (click)="show = !show">Registracija</a>
      <a *ngIf="isUserAuthenticated" class="btn-get-started"(click)="Logout()" (click)="show = !show">Odjava</a>
    </div>
  </div>
  <button type="button" class="mobile-nav-toggle d-lg-none"
  (click)="ShowMobileMenu()"><i class="icofont-navigation-menu"></i></button>
</header><!-- End Header -->
