<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a href="index.html">Mentor</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li routerLinkActive="active"><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
        <li routerLinkActive="active"><a routerLink="/course-details" routerLinkActive="active">Course details</a></li>
        <li routerLinkActive="active"><a routerLink="/trainers" routerLinkActive="active">Trainers</a></li>
        <li routerLinkActive="active"><a routerLink="/events" routerLinkActive="active">Events</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
        <li *ngIf="!isUserAuthenticated" routerLinkActive="active"><a routerLink="/authentication/login">Log in</a></li>
        <li *ngIf="!isUserAuthenticated" routerLinkActive="active"><a
            routerLink="/authentication/register">Registration</a></li>
        <li style="cursor: pointer;" *ngIf="isUserAuthenticated" routerLinkActive="active"><a class="btn-get-started"
            (click)="Logout()">Logout</a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
  <div class="topnav" *ngIf="show">
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a routerLink="/home" (click)="show = !show">Home</a>
      <a routerLink="/about" (click)="show = !show">About</a>
      <a routerLink="/courses" (click)="show = !show">Courses</a>
      <a routerLink="/course-details" (click)="show = !show">Course Details</a>
      <a routerLink="/trainers" (click)="show = !show">Trainers</a>
      <a routerLink="/events" (click)="show = !show">Events</a>
      <a routerLink="/contact" (click)="show = !show">Contact</a>
      <a *ngIf="!isUserAuthenticated" routerLink="/authentication/login" (click)="show = !show">Log in</a>
      <a *ngIf="!isUserAuthenticated" routerLink="/authentication/register" (click)="show = !show">Registration</a>
      <a *ngIf="isUserAuthenticated" class="btn-get-started"(click)="Logout()" (click)="show = !show">Logout</a>
    </div>
  </div>
  <button type="button" class="mobile-nav-toggle d-lg-none"
  (click)="ShowMobileMenu()"><i class="icofont-navigation-menu"></i></button>
</header><!-- End Header -->
