<main id="main">
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Događaji</h2>
        <p>Pregled svih planiranih događaja koji će se desiti u narednom periodu. Dođite i uveličajte njihovo održavanje.</p>
      </div>
    </div>
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <app-event-item *ngFor="let dogadjajGet of dogadjaji"
                [dogadjajGet]="dogadjajGet" style="width: 33%; margin-bottom: 30px;"></app-event-item>
            </div>

        </div>
      </div>
    </section>
  </main>
