<app-navbar></app-navbar>

<div id="move" class="text-center">

    <h1>Privacy</h1>
    <p class="h3">This page is about privacy</p>
    <br>
    <div class="container lead text-left">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum quis odio dui. Donec imperdiet massa vel pulvinar condimentum.
            Fusce purus mi, elementum ac consectetur sed, gravida at velit. Sed ut con
            sequat magna. Nunc at justo pharetra, blandit orci non, euismod augue. Duis
            scelerisque pharetra viverra. Sed nec fringilla justo, ac semper magna. Int
            eger sagittis lorem non pulvinar laoreet. Maecenas a tristique mi, eget dictum ante.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem porro obcaecati repellat
            quasi, magnam fugit suscipit provident id omnis! Aut magnam quisquam consequuntur, alias
            quod animi unde rerum non.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis consequuntur aliquid
            error. Illum sint est, quidem aliquid a et voluptate tempora ab architecto doloribus autem
            esse, aperiam libero facilis dolorem!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quos, molestiae magnam reiciendis
            qui cupiditate esse quae rem nisi nam accusantium doloribus. Ratione cumque doloremque laborum,
            nisi sed porro iure!
        </p>
        <p>
            In hac habitasse platea dictumst. Donec aliquam, nisi nec euismod ultrices, velit lorem 
            lacinia nulla, et eleifend dui tortor eget lorem. Aenean quis enim a elit volutpat scele
            risque. Aenean tristique, odio quis maximus ornare, mi orci elementum purus, vel cursus dol
            or velit vitae ante. Praesent eleifend blandit leo a bibendum. Phasellus at tortor sollicit
            din sem tincidunt ullamcorper non non metus. Curabitur nec pulvinar erat, ac consequat felis.
             Praesent nibh metus, accumsan et interdum eu, convallis at nisl. Ut sed est malesuada, ultr
             ices ex vitae, pellentesque nisl. Integer lobortis nulla purus, ultricies finibus orci hendre
             rit ac. Ut non rutrum ipsum. Fusce molestie ut nibh ac feugiat. Nam laoreet tristique facilisi
             s. Nulla facilisi. 
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quos, molestiae magnam reiciendis
            qui cupiditate esse quae rem nisi nam accusantium doloribus. Ratione cumque doloremque laborum,
            nisi sed porro iure!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vestibulum quis odio dui. Donec imperdiet massa vel pulvinar condimentum.
            Fusce purus mi, elementum ac consectetur sed, gravida at velit. Sed ut con
            sequat magna. Nunc at justo pharetra, blandit orci non, euismod augue. Duis
            scelerisque pharetra viverra. Sed nec fringilla justo, ac semper magna. Int
            eger sagittis lorem non pulvinar laoreet. Maecenas a tristique mi, eget dictum ante.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quidem porro obcaecati repellat
            quasi, magnam fugit suscipit provident id omnis! Aut magnam quisquam consequuntur, alias
            quod animi unde rerum non.
        </p>
    </div>

</div>

<app-footer></app-footer>