<!-- <div class="event-item">
    <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
    <div class="event-content">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>{{ dogadjajGet.tipDogadjaja }}</h4>
        <a routerLink="/course-details" class="course-btn">Info</a>
        <p class="name">{{ dogadjajGet.naziv }}KM</p>
      </div>

      <h3><a href="event-details.html">{{ dogadjajGet.naziv }}</a></h3> -->
      <!-- <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>      
    </div>
  </div>  -->
<div class="d-flex justify-content-center">
  <div class="col-md-6 d-flex align-content-center">
    <div class="card">
      <div class="card-img">
        <img src="assets/img/event-details1.jpg" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title"><a href="">{{dogadjajGet.naziv}}</a></h5>
        <p class="font-italic text-center">{{dogadjajGet.datumIVrijemeOdrzavanja}}</p>
        <p class="card-text">{{dogadjajGet.opis}}</p>
      </div>
    </div>
  </div>
</div>


