
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Kursevi</h2>
      <p> Osnovu poslovanja kulturnog centra TAM čine upravo kursevi. Naš centar nudi kompetentne predavače i
        kurseve iz raznih oblasti. </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <section id="courses" class="courses">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">

  <app-course-item *ngFor="let kurs of kursevi"
  [kurs]="kurs"></app-course-item>
</div>
</div>
</div>
</section><!-- End Courses Section -->
</main><!-- End #main -->
