
.course-btn {
  background: #5fcf80;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  cursor: pointer;
}

.appCourseItem
{
  width: 33%;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .appCourseItem{
    width: 100%;
    margin-bottom: 30px;
  }
}
