<button type="button" (click)="dodaj()" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Dodaj događaj
</button>
<div class="mt-5">
    <table class="table table-bordered">
        <thead class="thead">
            <tr>
                <th>Naziv</th>
                <th>Datum i vrijeme održavanja</th>
                <th>Tip događaja</th>
                <th>Odobren</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let dogadjaj of dogadjaji">
                <td> {{dogadjaj.naziv}} </td>
                <td> {{dogadjaj.datumIVrijemeOdrzavanja}} </td>
                <td> {{dogadjaj.tipDogadjaja}} </td>
                <td *ngIf="dogadjaj.odobren"> <button disabled class="btn btn-success"> Da </button></td>
                <td *ngIf="!dogadjaj.odobren"> <button disabled class="btn btn-danger"> Ne </button></td>
                <td><button class="btn btn-warning" (click)="uredi(dogadjaj)" data-toggle="modal" data-target="#exampleModal">Uredi</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" (click)="modalBrisanje(dogadjaj)">Izbrisi</button></td>
            </tr>
        </tbody>

    </table>

</div>
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
